snippet bye
	Bye!
	Steven

snippet dad
	(L)
	:D(A):D

snippet hope
	Hope this helps,
	Steven

snippet kindest
	Kindest regards,
	Steven

snippet regards
	Regards,
	Steven

snippet take
	Take good care,
	Steven

snippet thanks
	Thanks,
	Steven

# vim: set ft=snippet: #
