snippet bye
	Bye!
	Steven
endsnippet

snippet dad
	(L)
	:D(A):D
endsnippet

snippet hope
	Hope this helps,
	Steven
endsnippet

snippet kindest
	Kindest regards,
	Steven
endsnippet

snippet regards
	Regards,
	Steven
endsnippet

snippet take
	Take good care,
	Steven
endsnippet

snippet with
	With love,
	Steven
endsnippet

snippet thanks
	Thanks,
	Steven
endsnippet

# vim: set ft=snippet: #
