snippet ruby
options head
	#!/usr/bin/ruby
	# sdothum - 2016 (c) wtfpl

	Encoding.default_external = Encoding::UTF_8
	Encoding.default_internal = Encoding::UTF_8

	require 'term/ansicolor'
	class String
		include Term::ANSIColor
	end

	${0:text}

	# vim: set ft=ruby: #

# vim: set ft=snippet: #
