snippet ruby
	#!/usr/bin/ruby
	# encoding: UTF-8
	sdothum - 2016 (c) wtfpl
	require 'term/ansicolor'
	class String
		include Term::ANSIColor
	end

	${1:text}

	# vim: set ft=ruby: #

# vim: set ft=snippet: #
