snippet usage
	usage() {
		echo "usage: $(basename $${0:0}) ${1:text}"
		exit 1
	}
endsnippet

snippet ``
	$(${1:text})
endsnippet

snippet dash
	#!/usr/bin/dash
	# sdothum - 2016 (c) wtfpl

	${1:text}

	# vim: set ft=sh: #
endsnippet

snippet sh
	#!/bin/sh
	# sdothum - 2016 (c) wtfpl

	${1:text}

	# vim: set ft=sh: #
endsnippet

# vim: set ft=snippet: #
