snippet usage
	usage() {
		echo "usage: $(basename $${0:0}) ${1:text}"
		exit 1
	}

snippet ``
	$(${1:text})

snippet dash
	#!/usr/bin/dash
	# sdothum - 2016 (c) wtfpl

	${1:text}

	# vim: set ft=sh: #

snippet sh
	#!/bin/sh
	# sdothum - 2016 (c) wtfpl

	${1:text}

	# vim: set ft=sh: #

# vim: set ft=snippet: #
