snippet url
	[${1:text}](http://${0:url})

snippet img
	![${1:text}](/images/${0:file}.jpg)

snippet date
	`tolower(strftime("%A, %-d %B %Y"))`

snippet today
	[[`tolower(strftime("%Y-%m-%d"))`]]

# vim: set ft=snippet: #
