<?xml version="1.0"?>
<Settings>
  <FilerWindow path="/net/downloads">
    <X>1685</X>
    <Y>29</Y>
    <Width>1332</Width>
    <Height>1564</Height>
    <ShowHidden>1</ShowHidden>
    <DisplayStyle>1</DisplayStyle>
    <SortType>1</SortType>
    <SortOrder>0</SortOrder>
    <ViewType>1</ViewType>
    <DetailsType>0</DetailsType>
    <ShowThumbs>0</ShowThumbs>
    <FilterType>0</FilterType>
    <FilterDirectories>0</FilterDirectories>
  </FilerWindow>
  <FilerWindow path="/home/shum">
    <X>1685</X>
    <Y>29</Y>
    <Width>1332</Width>
    <Height>1564</Height>
    <ShowHidden>1</ShowHidden>
    <DisplayStyle>1</DisplayStyle>
    <SortType>0</SortType>
    <SortOrder>0</SortOrder>
    <ViewType>0</ViewType>
    <DetailsType>0</DetailsType>
    <ShowThumbs>0</ShowThumbs>
    <FilterType>0</FilterType>
    <FilterDirectories>0</FilterDirectories>
  </FilerWindow>
  <FilerWindow path="/">
    <X>0</X>
    <Y>24</Y>
    <Width>1024</Width>
    <Height>576</Height>
    <ShowHidden>1</ShowHidden>
    <DisplayStyle>0</DisplayStyle>
    <SortType>1</SortType>
    <SortOrder>0</SortOrder>
    <ViewType>0</ViewType>
    <DetailsType>0</DetailsType>
    <ShowThumbs>0</ShowThumbs>
    <FilterType>0</FilterType>
    <FilterDirectories>0</FilterDirectories>
  </FilerWindow>
  <FilerWindow path="/bkup/media/videos/movies">
    <X>1683</X>
    <Y>27</Y>
    <Width>1336</Width>
    <Height>1568</Height>
    <ShowHidden>1</ShowHidden>
    <DisplayStyle>1</DisplayStyle>
    <SortType>0</SortType>
    <SortOrder>0</SortOrder>
    <ViewType>0</ViewType>
    <DetailsType>0</DetailsType>
    <ShowThumbs>0</ShowThumbs>
    <FilterType>0</FilterType>
    <FilterDirectories>0</FilterDirectories>
  </FilerWindow>
  <FilerWindow path="/net/media/videos/movies">
    <X>1685</X>
    <Y>29</Y>
    <Width>1332</Width>
    <Height>1564</Height>
    <ShowHidden>1</ShowHidden>
    <DisplayStyle>1</DisplayStyle>
    <SortType>0</SortType>
    <SortOrder>0</SortOrder>
    <ViewType>0</ViewType>
    <DetailsType>0</DetailsType>
    <ShowThumbs>0</ShowThumbs>
    <FilterType>0</FilterType>
    <FilterDirectories>0</FilterDirectories>
  </FilerWindow>
</Settings>
