**/build/nixos
**/qmk_firmware
**/qmk_firmware/keyboards/planck/keymaps/sdothum/.deprecated
!**/qmk_firmware/keyboards/planck/keymaps/sdothum
**/build/root
**/build/vps
**/.cache
**/chromium
!**/office/chromium
**/.deprecated
**/.hg
**/.history
**/.local/share
**/fish/fishd*
**/fish/functions/twitter.fish
**/kindlegen
**/*.log
**/luakit/bookmarks*
**/luakit/*.db
**/luakit/quickmarks
**/mail
**/makepkg
**/.notion/default-session*
**/*.original
**/patricia*
**/*.pyc
**/qutebrowser/quickmarks
**/qutebrowser/qutebrowser.conf.*
**/user
**/.vim/backups
**/.vim/.netrwhist
**/.vim/plugged*
**/.vim/plugin
**/.vim/texput*
**/vimb/bookmark
**/vimb/closed*
**/vimb/command
**/vimb/cookies
**/vimb/history*
**/vimb/hsts
**/vimb/queue
**/vimb/search
**/vimb/vimb.socket
**/.vimv
**/.weechat
!**/.weechat/python/*.py
**/.wego
