
body {
    background-color: #fdf6e3 !important;
}

._hintLabel {
    -webkit-transform:translate(-4px,-4px);
    position: absolute;
    z-index: 100000;
    font: 1.0em monospace !important;
    font-weight: bold !important;
    color: #000;
    /* background-color: #fff; */
    background-color: #ff0 !important;
    margin: 0;
    padding: 0px 1px;
    border: 1px solid #444;
    /* opacity: 0.7; */
    opacity: 1 !important;
}

._hintElem {
    /* background-color: #ff0 !important; */
    background-color: #01FCEF !important;
    color: #000 !important;
}

._hintElem._hintFocus{
    /* background-color: #8f0 !important; */
    background-color: #F70000 !important;
    color: #FFF !important;
}

._hintLabel._hintFocus{
    z-index: 100001;
    opacity: 1;
    background-color: #f00 !important;
    font-weight: bold !important;
    color: #fff !important;
}
