include "/usr/share/nano/c.nanorc"
include "/usr/share/nano/css.nanorc"
include "/usr/share/nano/html.nanorc"
include "/usr/share/nano/java.nanorc"
include "/usr/share/nano/perl.nanorc"
include "/usr/share/nano/php.nanorc"
include "/usr/share/nano/python.nanorc"
include "/usr/share/nano/ruby.nanorc"
include "/usr/share/nano/sh.nanorc"
include "/usr/share/nano/xml.nanorc"
set autoindent
unset backup
set cut
set historylog
set nohelp
set quickblank
set smarthome
set smooth
set softwrap
set tabsize 4
set tabstospaces
set undo
set wordbounds
set nowrap
