snippet bye
options head
	Bye!
	Steven

snippet dad
options head
	(L)
	:D(A):D

snippet hope
options head
	Hope this helps,
	Steven

snippet kindest
options head
	Kindest regards,
	Steven

snippet regards
options head
	Regards,
	Steven

snippet take
options head
	Take good care,
	Steven

snippet with
options head
	With love,
	Steven

snippet thanks
options head
	Thanks,
	Steven

# vim: set ft=snippet: #
