/* body { margin-top: 8.8em; } */
body { margin-top: 7.8em; }

/* h2 { margin-top: 1.5em; } */

blockquote { margin-top: 3.2em !important; }

h1.index {
  font-size: 1.1em;
  margin-top: 3.0em;
  color: #666;
  text-align: right;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: #ccc;
  padding-bottom: 3px;
}

h1.index a { color: #aaa !important; }

/* p.publishing {
  visibility: hidden;
  margin-top: -2.45em;
} */

#header a.search {
  font-family: Helvetica,Arial,"Nimbus Sans L",sans-serif;
  font-size: 2.7em;
  color: #c77070;
  line-height: 100%;
}

#header a:hover { color: #c77070 !important; }

.input input { margin-top: 11px; }

#menu { margin-top: 0.0em; }

.title a:hover { color: #c77070 !important; }

span.block a {
  font-family: Verdana,Geneva,"DejaVu Sans",sans-serif;
  display: block;
}

img {
  width: 37.0em;
  margin-left: 0.0em;
}
