snippet bye "bye"
Bye!
Steven
endsnippet

snippet dad "dad"
(L)
:D(A):D
endsnippet

snippet hope "hope"
Hope this helps,
Steven
endsnippet

snippet kindest "kindest"
Kindest regards,
Steven
endsnippet

snippet regards "regards"
Regards,
Steven
endsnippet

snippet take "take"
Take good care,
Steven
endsnippet

snippet with "with"
With love,
Steven
endsnippet

snippet thanks "thanks"
Thanks,
Steven
endsnippet

# vim: set ft=snippet: #
