@import url("mychalk_fork.css");

/* desktop screen layout */

/* STYLING ******************************************************************/

#feeds-holder .dijitTreeRow {
  font-size: 15px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

#feeds-holder #feedTree {
  /* padding-top: 32px !important; */
  padding-top: 57px !important;
  width: 230px !important;
}

#feeds-holder {
  margin-left: -10px !important;
  width: 230px !important;
}

/* my mods ******************************************************************/

div#content-insert {
  padding-right: 322px !important;
  max-width: 968px !important;
}

#toolbar {
  /* max-width: 1150px !important; */
  max-width: 1018px !important;
}

#headlines-frame {
  /* max-width: 1080px !important; */
  max-width: 938px !important;
}

#headlines-toolbar {
  /* max-width: 1080px !important; */
  max-width: 938px !important;
}
