@import url("mychalk_base.css");

/* STYLING ******************************************************************/

#main-toolbar {
  border: none !important;
}

#content-wrap .dijitArrowButtonInner {
  opacity: 0 !important;
}

#overlay_inner .dijitProgressBar {
  /* border: none !important; */
  border: 1px solid #ddd !important;
  border-radius: 0 !important;
}

/* feed tree */
#feeds-holder #feedTree {
  padding-top: 48px !important;
  width: 250px !important;
}

#feeds-holder .dijitTreeRow {
  font-family: 'Liberation Sans Narrow', sans-serif !important;
  font-size: 15px !important;
  padding-top: 11px !important;
  padding-bottom: 11px !important;
  border-top-left-radius: 26px !important;
  border-bottom-left-radius: 26px !important;
}

#feeds-holder .dijitTreeRowSelected {
  /* background: rgba(0,0,0,.05) url('mychalk_images/noise.png') 0 repeat !important; */
  background: #2A363B !important;
  color: #fff !important;
}

#feeds-holder .dijitTreeLabel.Unread {
  font-weight: normal !important;
}

#feeds-holder img.feedIcon,
#feeds-holder .labelColorIndicator {
  left: 7px !important;
  padding-right: 10px !important;
}

#feeds-holder .counterNode {
  margin: 2px 13px !important;
}

#feeds-holder .counterNode.aux {
  background: #871C1C !important;
}

#feeds-holder .dijitTreeRow:hover .counterNode {
  color: #2A363B !important;
}

#feeds-holder .dijitTreeExpando {
  opacity: 0 !important;
}

/* main */
#feed_title,
#floatingTitle .title,
.postHeader .postTitle a {
  font: normal 16px 'Liberation Sans Narrow', sans-serif !important;
}

#feed_title,
#feed_title a {
  color: #999 !important;
}

/* articles - expandable.active / expanded */
.cdm.expandable:not(.active) .cdmHeader > .hlFeed {
  width: 135px !important;
}

.cdm.expandable:not(.active) .cdmHeader > .hlFeed a {
  max-width: 115px !important;
}

.cdm.expandable.active,
.cdm.expanded {
  border: none !important;
  border-top: 1px solid #ddd !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}

.cdm.expandable.active .cdmHeader,
.cdm.expanded .cdmHeader {
  padding: 36px 34px 0 !important;
}

.cdm.expandable.active .title,
.cdm.expanded .title {
  font: normal 19px 'Liberation Sans Narrow', sans-serif !important;
  color: #871C1C !important;
}

.cdm.expandable.active .cdmHeader > div:first-child,
.cdm.expandable.active .cdmHeader .hlFeed,
.cdm.expandable.active .cdmHeader .updated,
.cdm.expandable.active .cdmHeader .scoreWrap,
.cdm.expanded .cdmHeader > div:first-child,
.cdm.expanded .cdmHeader .hlFeed,
.cdm.expanded .cdmHeader .updated,
.cdm.expanded .cdmHeader .scoreWrap {
  top: 12px;
}

/* articles - common */
.cdm .title,
.hlTitle {
  font: bold 16px 'Liberation Sans Narrow', sans-serif !important;
}

.cdm .cdmExcerpt,
.cdm.expandable .author,
.hlTitle .contentPreview {
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

.cdm .cdmExcerpt,
.cdm.expandable .author,
.hlTitle .contentPreview {
  font-size: 13px !important;
  line-height: 20px !important;
  color: #444 !important;
}

.cdm .title,
.cdm .cdmHeader,
.hl .hlTitle a,
.hl .hlUpdated {
  color: #111 !important;
}

/* .cdm.expandable:not(.active) .cdmHeader > div:first-child > *, */
/* .cdm.expandable:not(.active) .cdmHeader > .scoreWrap > *, */
.hlLeft > *,
.hlRight > * {
  margin-top: -5px !important;
}

.cdmContentInner {
  padding: 0 34px !important;
}

/* ICONS ********************************************************************/

img[src*='images/archive.png'] {
  background: url('images/archive.png') no-repeat;
  width: 16px !important;
}

img[src*='images/fresh.png'] {
  background: url('images/fresh.png') no-repeat;
  width: 16px !important;
}

/* SCROLLBARS ***************************************************************/

::-webkit-scrollbar { width: 0; }

/* MODS *********************************************************************/

.titleWrap a.title:hover {
  color: #C75050 !important;
}

#feeds-holder {
  background: #eee !important;
}

/* my mods */
.dijitSplitter {
  width: 0 !important;
}

#feeds-holder {
  width: 250px !important;
}

#feeds-holder .dijitTreeRow:hover {
  background: #ddd url('mychalk_images/noise.png') 0 repeat !important;
  color: #2A363B !important;
}

#feeds-holder .dijitTreeRowSelected:hover {
  background: #2A363B !important;
  color: #AEE239 !important;
}

#feeds-holder .dijitTreeRow:hover .counterNode.aux {
  background: #AEE239 !important;
}

div#feedTree {
  /* overflow: hidden !important; */
}

.cdm.expandable,
#headlines-frame .hl {
  border: none !important;
  padding-bottom: 12px !important;
}

.cdm.expandable .cdmHeader:hover,
#headlines-frame .hl:hover {
  background: #eee url('mychalk_images/noise.png') 0 repeat !important;
}

#headlines-frame .tinyFeedIcon {
  margin-top: -5px !important;
}

#headlines-frame .cdm.expandable .tinyFeedIcon {
  margin-top: 2px !important;
}

#headlines-frame .cdm.expanded .tinyFeedIcon {
  margin-top: -1px !important;
}

.cdm.expandable.active .cdmHeader .hlFeed,
.cdm.expandable.active .cdmHeader .updated,
.cdm.expandable.active .cdmHeader .scoreWrap,
.cdm.expanded .cdmHeader .hlFeed,
.cdm.expanded .cdmHeader .updated,
.cdm.expanded .cdmHeader .scoreWrap {
  top: 13px;
}

.cdm.expandable:not(.active) .cdmHeader > div:first-child > *,
.cdm.expandable:not(.active) .cdmHeader > .scoreWrap > * {
  margin-top: 2px !important;
}

div[style*="vertical-align: middle"],
.cdm.expandable .cdmHeader .hlFeed {
  padding-top: 7px !important;
}

.cdm.expandable .cdmHeader .updated {
  padding-top: 7px !important;
  color: #999 !important;
}

.cdm.expandable .author {
  padding-left: 1px !important;
  padding-right: 5px !important;
}

.cdm.expandable.active .cdmHeader .hlFeed,
.cdm.expandable.active .cdmHeader .updated {
  margin-top: -6px !important;
}

.cdm.expandable.active .cdmHeader .scoreWrap .hlScorePic {
  margin-top: 2px !important;
}

.titleWrap a.title:visited {
  color: #707070 !important;
}

.cdmHeader a.title:visited,
#headlines-frame .hlContent a:visited {
  color: #bbb !important;
}

#floatingTitle a.title {
  display: block !important;
}

#floatingTitle span.author {
  display: inline-block !important;
  padding-right: 3px !important;
  color: #999 !important;
}

#floatingTitle span.updated {
  padding-top: 7px !important;
  color: #999 !important;
}

.cdmHeader .titleWrap .author {
  color: #999 !important;
}

.postTitle a {
  display: block !important;
}

.hlContent .contentPreview {
  padding-left: 5px !important;
}

.postHeader {
  background: #eee url('mychalk_images/noise.png') 0 repeat !important ;
  margin-left: 10px !important;
}

div#headlines-frame {
  /* overflow: hidden !important; */
}

div#content-wrap {
  background: #fff !important;
}
