@import url("myredder_fork.css");

/* desktop screen layout */

/* STYLING ******************************************************************/

#feeds-holder .dijitTreeRow {
  font-size: 12px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

#feeds-holder #feedTree {
  /* padding-top: 32px !important; */
  /* padding-top: 57px !important; */
  padding-top: 0 !important;
  margin-top: 0 !important;
  width: 215px !important;
}

#feeds-holder {
  margin-left: -15px !important;
  width: 215px !important;
}

/* my mods ******************************************************************/

/* div#content-insert { */
/*   padding-right: 322px !important; */
/*   max-width: 968px !important; */
/* } */
/*  */
/* #toolbar { */
/*   /* max-width: 1150px !important; */ */
/*   max-width: 1018px !important; */
/* } */
/*  */
/* #headlines-frame { */
/*   /* max-width: 1080px !important; */ */
/*   max-width: 938px !important; */
/* } */
/*  */
/* #headlines-toolbar { */
/*   /* max-width: 1080px !important; */ */
/*   max-width: 938px !important; */
/* } */
