@import url('linear_base.css');

/* RESET ********************************************************************/

html { font-family: Roboto,'Noto Sans',Helvetica,Arial sans-serif; }

div#notify.notify.notify_progress { display: none; }

.dijitReset,
div#toolbar,
#headlines-frame,
#ttrssPrefs #footer,
div#headlines-toolbar,
div.dijitDialogPaneContent,
div#header.dijitContentPane,
div#footer_splitter.dijitGutter { background-color: #fdf6e3; }

#ttrssPrefs .dijitContentPane { background: #ffffff; }

/* BASE LAYOUT **************************************************************/


#main { background: #eee8d5; }

#main-toolbar {
  background: none;
  border: none;
}

.dijitSplitter { width: 0 !important; }

/* STYLING ******************************************************************/

#content-wrap .dijitArrowButtonInner { opacity: 0; }

#overlay_inner .dijitProgressBar {
  border-radius: 0;
  border: 1px solid #ddd;
}

/* feed tree */

/* zero padding glues highlight selection to right margin on zooming changes */
#feeds-holder #feedTree {
  background: #eee8d5;
  overflow: hidden;
  padding: 0 0 0 0;
}

/* counter padding to right margin */
#feeds-holder .dijitTreeRow {
  border-color: #eee8d5;
  border-style: solid;
  border-width: 0 0 1px;
  font: 300 10px Roboto,'Noto Sans',Helvetica,Arial sans-serif;
  line-height: 18px;
  padding: 0 10px 0;
  vertical-align: bottom;
}

/* dim non-category nodes */
#feeds-holder .dijitTreeRow { color: #999; }

/* categories */
#feeds-holder .dijitTreeRow [aria-expanded="true"],
#feeds-holder .dijitTreeRow [aria-expanded="false"] { color: #555; }

#feeds-holder .dijitTreeRow:hover [aria-expanded="true"],
#feeds-holder .dijitTreeRow:hover [aria-expanded="false"] { color: #282828; }

#feeds-holder .dijitTreeRowSelected {
  background: #eee8d5;
  border-color: #b12525;
  border-style: solid;
  border-width: 0 0 1px;
}

#feeds-holder .dijitTreeLabel.Unread { font-weight: 300; }

/* match line height to feed label font to preserve horizontal scaling alignment */
#feeds-holder .counterNode {
  background: none;
  color: #b12525;
  font: 300 10px Roboto,'Noto Sans',Helvetica,Arial sans-serif;
  line-height: 18px;
  padding: 0 1px 0 3px;
  vertical-align: bottom;
}

#feeds-holder .counterNode.aux { background: none; }

#feeds-holder .dijitTreeRow:hover .counterNode {
  background: #eee8d5;
  color: #282828;
}

#feeds-holder .dijitTreeRowSelected .counterNode {
  background: #eee8d5;
  color: #b12525;
}

#feeds-holder .dijitTreeRowSelected:hover .counterNode {
  background: #eee8d5;
  color: #b12525;
}

/* open/close category icon */
#feeds-holder .dijitTreeExpando {
  margin: 0 0 1px -2px; /* img flush to left border */
  opacity: 0;
  padding-bottom: 0;
  padding-left: 0;
}

#feeds-holder .dijitTreeRow:hover *,
#feeds-holder .dijitTreeRowSelected .counterNode,
#feeds-holder .dijitTreeRowSelected .dijitTreeLabel { font-weight: 500; }

/* loading gif */
#ttrssMain .dijitTreeContent { opacity: 0; } /* unnecessary visual distraction */

#feeds-holder .dijitTreeRow .dijitTreeExpandoOpened { opacity: .15; }

/* #feeds-holder { background: #eee; } */

/* #feeds-holder .dijitTreeRow:hover .dijitTreeLabel { color: #b12525; } */

/* un/comment to highlight open icons where applicable */
#feeds-holder .dijitTreeRow:hover .dijitTreeExpando { opacity: .15; }

#feeds-holder .dijitTreeRowSelected:hover {
  border-color: #b12525;
  border-style: solid;
  border-width: 0 0 1px;
}

/* uncomment to highlight open icons */
/* #feeds-holder .dijitTreeRowSelected:hover .dijitTreeExpando { opacity: .15; } */

/* set category refresh progress bar height and center over open icon position */
img[src*="images/indicator_tiny.gif"] {
  height: 12px;
  margin-bottom: 1px;
}

/* main */
#toolbar { margin-right: -20px; }

#main-toolbar,
.dijitMenuItemLabel { 
  font: 300 10px/16px Roboto,'Noto Sans',Helvetica,Arial sans-serif; 
  text-align: right; 
}

/* menu down icon */
#content-wrap .dijitOpened .dijitArrowButtonInner,
#content-wrap .dijitSelect:hover .dijitArrowButtonInner,
#content-wrap .dijitComboButton .dijitArrowButtonInner:hover,
#content-wrap .dijitDropDownButton:hover .dijitArrowButtonInner { opacity: .15; }

/* restore align for pop-ups on preferences page */
#ttrssPrefs .dijitMenuItemLabel { text-align: left; }

#ttrssMain .dijitPopup,
#ttrssMain .dijitMenuItemLabel,
#ttrssMain .dijitMenuItemDisabled .dijitMenuItemLabel { background: #eee8d5; }

#ttrssMain .dijitPopup {
  border-radius: 0;
  border: none;
}

#ttrssMain .dijitMenuItemHover .dijitMenuItemLabel,
#ttrssMain .dijitMenuItemSelected .dijitMenuItemLabel,
#ttrssMain .dijitSelectSelectedOption .dijitMenuItemLabel {
  background: #eee8d5;
  font-weight: 500;
}

/* prevent pop-up width resizing on 500 for menu list using content literals in lieu of attr() */
table#dijit_Menu_0 .dijitMenuItemLabel:after,
table#dijit_form_Select_0_menu .dijitMenuItemLabel:after,
table#dijit_form_Select_1_menu .dijitMenuItemLabel:after {
  /* content: .. see below */
  display: block;
  font-weight: 500;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

/* have to pad width of w with uppercase W */
table#dijit_Menu_0 .dijitMenuItemLabel:after { content: "Toggle Widescreen mode"; }
table#dijit_form_Select_0_menu .dijitMenuItemLabel:after { content: "All Articles"; }
table#dijit_form_Select_1_menu .dijitMenuItemLabel:after { content: "Newest first"; }

#ttrssMain .dijitMenuItemHover .dijitMenuItemLabel,
#ttrssMain .dijitMenuItemSelected .dijitMenuItemLabel { color: #282828; }

#ttrssMain .dijitSelectSelectedOption .dijitMenuItemLabel { color: #b12525; }

#ttrssMain .dijitMenuItemDisabled .dijitMenuItemLabel { 
  color: #b12525; 
  font-weight: 300;
}

#ttrssMain .dijitMenuItemDisabled .dijitMenuItemLabel:before { border-top: 1px solid #d58885; }

#main-toolbar {
  margin-left: 35px;
  margin-right: 30px;
  padding-left: 0;
}

#main-toolbar .dijitButtonText:not(:hover) { color: #aaa; }

/* #headlines-toolbar { */
/*   padding-left: 35px; */
/*   padding-right: 15px; */
/* } */
/*  */
/* #headlines-toolbar { padding-bottom: 15px; } */
/*  */
/* #headlines-toolbar span.r { margin-top: -2px; } */
/*  */
/* #headlines-toolbar > .r span#selected_prompt { margin-top: 2px; } */
/*  */
/* #headlines-toolbar .r a img.noborder { margin-top: -1px; } */
/*  */
/* #headlines-toolbar > .r span#cancel_search { */
/*   font-family: Roboto,'Noto Sans',Helvetica,Arial sans-serif; */
/*   font-size: 12px; */
/*   margin-left: 10px; */
/*   text-align: right; */
/* } */

#feed_title,
#floatingTitle .title,
.postHeader .postTitle a { font: normal 12px Roboto,'Noto Sans',Helvetica,Arial sans-serif; }

#feed_title,
#feed_title a { color: #999; }

/* articles - expandable / separate */
.hl,
.cdm.expandable {
  margin-bottom: 0;
  margin-top: 10px;
}

/* articles - expandable.active / expanded */

.cdm.expanded,
.cdm.expandable.active {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}

/* .cdm.expandable.active .cdmHeader, */
.cdm.expanded .cdmHeader { padding: 36px 34px 0; }

.cdm.expanded .title,
.cdm.expandable.active .title,
.cdm.expandable.active:not(.Unread) .title {
  color: #282828 !important;
  font: 500 16px Roboto,'Noto Sans',Helvetica,Arial sans-serif;
  margin-bottom: 0;
  margin-left: -3px;
  margin-top: -16px;
}

.cdm.expandable:not(.Unread) .title { color: #666 !important; }

/* .titleWrap a.title:visited, */
/* .cdm.expanded:not(.Unread) a.title:visited, */
/* .cdm.expanded.Unread.marked a.title:visited, */
/* .cdm.expandable:not(.Unread) a.title:visited, */
/* .cdm.expandable.Unread.marked a.title:visited { color: #3FB1B5 !important; } */

.cdm.expandable.active {
  /* border-bottom: 1px solid #e77471 !important; */
  /* border-top: 1px solid #b12525 !important; */
  padding-top: 54px;
}

/* collapse button bar, set line height for left hand date alignment */
.collapseBtn { 
  -webkit-transition: all 0s;
  border-top: 1px solid #b12525;
  /* margin-top: -1px;  */
  padding-bottom: 0; 
  transition: all 0s;
}

.collapseBtn:hover {
  /* background: #ffe3d5 url('linear_images/noise.png') 0 repeat; */
  background: #fbeecb url('linear_images/noise.png') 0 repeat;
  /* background: #fdf6e3 url('linear_images/noise.png') 0 repeat; */
  border-top: none;
  /* font: 10px/10px Roboto,'Noto Sans',Helvetica,Arial sans-serif !important; */
}

.collapseBtn:hover img { opacity: 0 !important; }

/* hide collapse message */
.collapseBtn:before { content: ''; }

.hl,
.cdm.expandable .cdmHeader {
  padding-bottom: 3px;
  padding-top: 0 !important;
}

.cdm.expandable.active .cdmHeader { margin-bottom: -6px; }

.hl,
.cdm.expandable:not(.active) .cdmHeader {
  border-bottom: 1px solid #fdf6e3;
  border-top: 1px solid #fdf6e3;
}

.hl,
.cdm.expandable .cdmHeader {
  background: none;
  border: 1px solid #fdf6e3;
}

.hl:hover,
.cdm.expandable:not(.active) .cdmHeader:hover { background: none; }

.cdm.expandable .cdmHeader div[style*="vertical-align: middle"] > * { padding-bottom: 3px; }

/* align date to collapse button bar line height */
.cdm.expandable.active .cdmHeader span.updated {
  color: #888;
  font: 300 9px/11px Roboto,'Noto Sans',Helvetica,Arial sans-serif;
  margin-top: -29px;
}

.cdm.expandable.active div:not(.hlFeed) span.titleWrap + span.updated { top: 34px; }

/* .cdm.expandable:not(.active) .cdmHeader > .scoreWrap > *, */
/* .cdm.expandable:not(.active) .cdmHeader > div:first-child > * { margin-top: 0 !important; } */

/* column position */
.cdmHeader .hlFeed {
  font: 10px Roboto,'Noto Sans',Helvetica,Arial sans-serif;
  margin-left: -10px;
}

/* expanded position */
.cdm.expandable.active .hlFeed {
  margin-left: -47px;
  margin-top: -20px;
  padding-top: 4px !important;
}

span.updated { color: #aaa; }

/* add padding below author */
.cdm.expandable.active .cdmContentInner img { padding-top: 6px; }

.whiteBox + #headlines-spacer,
#headlines-spacer .loading img { display: none; }

/* line up loading message to hlfeed/update */
#headlines-spacer {
  margin-left: 6px;
  margin-top: 22px;
}

.cdm.expandable,
#headlines-frame .hl { border: none; }

#headlines-frame .hl:hover { background: #eee url('linear_images/noise.png') 0 repeat; }

.hlScorePic,
#headlines-frame .cdm.expandable .tinyFeedIcon { display: none; }

/* articles - common */
.hlTitle,
.cdm .title {
  color: #b12525 !important;
  font: 500 13px Roboto,'Noto Sans',Helvetica,Arial sans-serif;
}

/* excerpt content */
.cdm .cdmExcerpt,
.cdm.expandable .author,
.hlTitle .contentPreview { font: 12px/1.45 'Jost*',Roboto,'Noto Sans',Helvetica,Arial sans-serif; }

.cdm.expandable.active .author {
  color: #aaa !important;
  font: 10px/1.75 Roboto,'Noto Sans',Helvetica,Arial sans-serif;
  padding-top: 0 !important;
}

.cdm.Unread .cdmExcerpt,
.cdm.Unread.expandable .author,
.hl.Unread .hlTitle .contentPreview { color: #555; }

/* chop long urls */
.cdm.expandable .cdmExcerpt {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -ms-word-break: break-all;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

/* add a bit of visual separation */
.cdm.expandable .author {
  padding-left: 1px;
  padding-right: 5px;
  white-space: normal;
}

.postTitle a { display: block; }

/* .hlLeft > *, */
/* .hlRight > * { margin-top: -5px; } */

/* spacing between headlines */
.cdm.expandable:not(.active) .cdmHeader > * {
  margin-bottom: -3px;
  padding-bottom: 0;
  padding-top: 0;
}

.cdmHeader .hlFeed a {
  background: none !important;
  padding-left: 0;
}

/* expanded content */
.cdmContentInner {
  color: #444;
  font: 13px/1.475 'Jost*',Roboto,'Noto Sans',Helvetica,Arial sans-serif;
  padding: 0 34px;
}

/* spacing at bottom of expanded article */
.cdmFooter { padding-bottom: 9px !important; }

/* opacity of replacement close icon to match category column, see modified feeds.php */
.collapseBtn img { opacity: 0; }

.cdm.expandable.active:hover .collapseBtn img {
  margin-top: -12px;
  opacity: .15;
}

/* social media link clusters */
.cdmFooter div,
.cdmFooter span,
.cdmIntermediate,
.cdmFooter span *,
.cdmContentInner span span div { display: none; }

/* floating title extensions */
/* #floatingTitle { background-color: #fdf6e3; } */
/*  */
/* #floatingTitle a.title { display: block; } */
/*  */
/* #floatingTitle span.updated { padding-top: 8px; } */
/*  */
/* #floatingTitle div.scoreWrap { padding-top: 9px; } */
/*  */
/* #floatingTitle .titleWrap span { display: none; } */

/* disable and cover the floating title white space on feed refresh! */
#floatingTitle:not(:empty) { display: none; }

.postContent h1,
.postContent h2,
.postContent h3,
.postContent h4,
.postContent h5,
.postContent h6,
.cdmContentInner h1,
.cdmContentInner h2,
.cdmContentInner h3,
.cdmContentInner h4,
.cdmContentInner h5,
.cdmContentInner h6 { font-family: Roboto,'Noto Sans',Helvetica,Arial sans-serif; }

/* normal or non-cdm view with variable hlfeed and updated widths */

/* .hlContent .contentPreview { padding-left: 5px; } */

.postHeader {
  background: #eee url('linear_images/noise.png') 0 repeat;
  padding-top: 25px !important;
}

/* dirty kludge to ciean up non-cdm view */
.hl > .hlFeed a {
  background: none !important;
  white-space: nowrap;
}

.hl .dijitCheckBox { display: none; }

.hlUpdated {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 3px;
}

#content-insert { margin-top: -5px; }

/* #headlines-frame { */
/*   border-color: #b12525; */
/*   border-style: solid; */
/*   border-width: 0 0 1px; */
/* } */

#headlines-frame:before { margin-top: -25px; }

.postHeader .postTitle a {
  color: #b12525;
  font-size: 16px;
  font-weight: 500;
}

.postHeader .postDate {
  margin-top: 3px;
  padding-left: 10px;
  padding-right: 5px;
}

/* can only close non-cdm expanded view with keyboard 'cause all buttons removed */
.postContent div,
.postContent span,
.postHeader div.postTags,
.postHeader div[clear="both"] { display: none !important; }

/* extras */
.cdmFeedTitle .title { font-family: Roboto,'Noto Sans',Helvetica,Arial sans-serif; }

/* PREFERENCES **************************************************************/
/* from prefs.css */
/* @24 */
/* @51 */
/* 101 */
/* layout */
/* content */
/* ICONS ********************************************************************/

img.tinyFeedIcon { display: none; }

#feeds-holder .dijitTreeRow:hover img.tinyFeedIcon { opacity: 0; }

/* .scoreWrap span img[src*='images/pub_set.png'], */
/* #headlines-toolbar span.r img[src*='images/pub_set.png'] { display: none; } */

img[src*='images/mark_unset.png'] {
  background: url('linear_images/star-empty.png') no-repeat;
  display: inline-block;
  height: 16px;
  opacity: .2;
  padding-right: 16px;
  width: 0;
}

img[src*='images/mark_set.png'] {
  background: url('linear_images/star.png') no-repeat;
  display: inline-block;
  height: 16px;
  opacity: .6;
  padding-right: 16px;
  width: 0;
}

img[src*='images/feed.png'],
img[src*='images/star.png'],
img[src*='images/time.png'],
img[src*='images/fresh.png'],
img[src*='images/folder.png'],
img[src*='images/archive.png'],
img[src*='images/pub_set.png'],
img[src*='images/pub_unset.png'] { display: none; }

/* SCROLLBARS ***************************************************************/

/* applying display:none results in periodic inability to mouse scroll */
::-webkit-scrollbar { width: 0; }

/* CHECKBOX *****************************************************************/

/* base styles */
input[type="checkbox"] {
  background: -webkit-linear-gradient(#fdf6e3, #E4DECD);
  border-color: #CEC8B9;
  box-shadow: none;
  height: 1.1em;
  margin-top: 2px;
  width: 1.1em;
}

/* border radius for radio*/
/* border radius for checkbox */
input[type="checkbox"] {
  -webkit-border-radius: 0;
  border-radius: 0;
}

input[type="text"] { background-color: #fefefe; }
