@import url('linear_fork.css');

/* clean condensed distraction free layout -- formatted for gtkwebkit and qtwebkit
 *
 * optimized for "combined feed display" with "enable feed categories", see preferences
 *
 * see user_install tt-rss for functions.php feed categories customization
 */

/* STYLING ******************************************************************/

/* menu adjust top to position topmost label */
#feeds-holder .dijitTreeRow { margin: -4px 0 15px 15px; }

#feeds-holder .dijitTreeRow:hover *,
#feeds-holder .dijitTreeRowSelected .counterNode,
#feeds-holder .dijitTreeRowSelected .dijitTreeLabel { font-weight: 500; }

#feeds-holder .dijitTreeLabel {
  float:                 right;
  margin-right:          6px;
}

#feeds-holder #feedTree {
  padding-top:           0;
  width:                 170px;
}

#feeds-holder {
  margin-left:           -15px;
  /* margin-right:          -15px; */
  width:                 170px !important;
}

img[src*='images/star.png'] {
  background:            url('linear_images/Pin.png') no-repeat;
  opacity:               1.0;
}

div#dijit__TreeNode_1 span.dijitFolderOpened  + .dijitTreeLabel,
div#dijit__TreeNode_1 span.dijitFolderClosed  + .dijitTreeLabel { letter-spacing: 1px; }

/* filters usually are open, hide minimize button of feed menu title */
div#dijit__TreeNode_1 .dijitTreeRow .dijitTreeExpandoOpened { opacity: 0; }

div#dijit__TreeNode_1 .dijitTreeRow .dijitTreeExpandoClosed,
div#dijit__TreeNode_1 .dijitTreeRow:hover .dijitTreeExpandoOpened { opacity: .15; }

/* drop published and archived filters */
div#dijit__TreeNode_5,
div#dijit__TreeNode_6 { display: none !important; }

.dijitTreeLabel { margin-left: 6px; }

.cdm.expandable .dijitCheckBox { display: none; }

/* fill any backgnoud gaps resulting from fullscreen display */
.dijitContainer { background-color: #fdf6e3; }

div#dijit__TreeNode_2 .dijitTreeLabel,
div#dijit__TreeNode_3 .dijitTreeLabel,
div#dijit__TreeNode_4 .dijitTreeLabel,
div#dijit__TreeNode_7 .dijitTreeLabel { color: #555 !important; }

div#dijit__TreeNode_2 .dijitTreeRow:hover .dijitTreeLabel,
div#dijit__TreeNode_3 .dijitTreeRow:hover .dijitTreeLabel,
div#dijit__TreeNode_4 .dijitTreeRow:hover .dijitTreeLabel,
div#dijit__TreeNode_7 .dijitTreeRow:hover .dijitTreeLabel { color: #282828 !important; }

/* only highlight category labels */
.dijitTreeRowSelected span.dijitFolderOpened  + .dijitTreeLabel,
.dijitTreeRowSelected span.dijitFolderClosed  + .dijitTreeLabel { color: #b5423f !important; }

/* non-category node highlight exception for feed filters */
div#dijit__TreeNode_2 .dijitTreeRowSelected .dijitTreeLabel,
div#dijit__TreeNode_3 .dijitTreeRowSelected .dijitTreeLabel,
div#dijit__TreeNode_4 .dijitTreeRowSelected .dijitTreeLabel,
div#dijit__TreeNode_7 .dijitTreeRowSelected .dijitTreeLabel,
div#dijit__TreeNode_2 .dijitTreeRowSelected:hover .dijitTreeLabel,
div#dijit__TreeNode_3 .dijitTreeRowSelected:hover .dijitTreeLabel,
div#dijit__TreeNode_4 .dijitTreeRowSelected:hover .dijitTreeLabel,
div#dijit__TreeNode_7 .dijitTreeRowSelected:hover .dijitTreeLabel { color: #b5423f !important; }

/* .cdm.expandable:not(.active) .cdmHeader a.title { */
/*   font:                  16px 'Roboto Condensed',Roboto,'Noto Sans','Helvetica Neue',Helvetica,Arial sans-serif; */
/*   font-weight:           bold; */
/* } */

/* highlight colour */
.hl:hover *,
.cdm.expandable:not(.active) .cdmHeader:hover * {
  color:                 #b5423f !important;
  font-weight:           500;
}

.cdm.expandable.Unread:not(.active) .cdmHeader:hover .title {
  color:                 #282828 !important;
  font-weight:           bold;
}

a.title:hover { text-decoration: underline !important; }

/* maximum content width setting */
.postContent p,
.cdmContentInner p,
.cdm.expandable.active {
  max-width:             100%; /* fullscreen width */
  max-width:             70em;
}

#toolbar { max-width: 77em; }

.cdmHeader span { max-width: 62.5em; }

span.titleWrap { max-width: 60em; }

/* fit button bar width to above active border */
.cdm .collapseBtn { max-width: 100%; }

/* uncomment for fullscreen width */
/* #toolbar, */
/* .cdm.expandable.active, */
/* .cdmHeader span, */
/* .cdm .collapseBtn, */
/* .cdmContentInner p, */
/* .postContent p { max-width: 100%; } */

img[src*='images/mark_unset.png'] {
  opacity:               0 !important;
  margin-left:           -23px;
}

img[src*='images/mark_set.png'] {
  background:            url('linear_images/Pin.png') no-repeat !important;
  transform:             scale(0.7.0.7);
  opacity:               .85;
  margin-left:           -23px;
  -ms-transform:         scale(0.7, 0.7); /* IE 9 */
  -webkit-transform:     scale(0.7, 0.7); /* Safari */
}

.Selected img[src*='images/mark_set.png'] { margin-top: -7px !important; }

/* reposition date below feed label, must declare font to set desired size */
:not(.Selected) span.updated {
  position:              absolute;
  left:                  2px;
  top:                   20px;
  font:                  9px Roboto,'Noto Sans','Helvetica Neue',Helvetica,Arial sans-serif;
  color:                 #aaa;
  display:               inline-block;
  width:                 85px;
  white-space:           nowrap;
  overflow:              hidden;
  text-overflow:         ellipsis;
}

/* date position on expanded collapse button bar */
.Selected span.updated {
  padding-top:           1px !important;
  left:                  17px;
}

/* hlfeed does not exist when a non-category feeds-holder row is selected */
.cdm.expandable div:not(.hlFeed) span.titleWrap + span.updated { top: 6px; }

.scoreWrap,
div#notify.notify { display: none; }

select.attachments {
  font-size:             12px;
  color:                 #999;
}

button.expandPrompt {
  background:            #2A363B;
  color:                 #fff;
  font-size:             12px;
  border:                none;
  border-radius:         0 12px 12px 0;
}

#ttrssPrefs * { border-radius: 0; }

/* 'logo' hack adjusts width for #feed-holder right alignment */
#ttrssMain #main:after {
  content:               'gravity\Awell'; /* line break */
  white-space:           pre; /* line break */
  display:               block;
  font:                  19px Roboto,'Noto Sans','Helvetica Neue',Helvetica,Arial sans-serif;
  font-weight:           100;
  letter-spacing:        4px;
  color:                 #871c1c;
  /* text-shadow:           0 1px 1px #fff; */
  position:              fixed;
  margin-top:            77px; /* ~ holder width / golden ratio - font-size x 1.5 */
  width:                 168px; /* right align with counter column */
  text-align:            right;
}

/* top of feed category selection list */
#feeds-holder { margin-top: 170px; /* holder width */ }

/* end of feed marker */
#headlines-spacer {
  position:              relative;
  height:                100%;
}

#headlines-spacer:after {
  content:               'refresh ‧•‧ gravity well'; /* dot bullet dot */
  font:                  19px Roboto,'Noto Sans','Helvetica Neue',Helvetica,Arial sans-serif;
  font-weight:           100;
  letter-spacing:        4px;
  color:                 #b5423f;
  /* text-shadow:           0 1px 1px #fff; */
  position:              absolute;
  bottom:                0;
  right:                 -35px;
  left:                  -35px;
  padding:               10px;
  background:            #fdf6e3;
  text-align:            center;
}

.whiteBox + #headlines-spacer { display: none; }

/* disable and cover the floating title white space on feed refresh! */
#floatingTitle:not(:empty) { display: none; }

#headlines-frame:before { margin-top: -25px; }

/* feeds popup background */
div.dijitDialogPaneContent { background-color: #fdf6e3 !important; }
