@import url("particle_fork.css");

/* netbook layout */

/* STYLING ******************************************************************/

#feeds-holder .dijitTreeRow {
  font-size: 12px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

#feeds-holder #feedTree {
  /* padding-top: 35px !important; */
  padding-top: 0 !important;
  margin-top: 0 !important;
  width: 185px !important;
}

#feeds-holder {
  margin-left: -20px !important;
  width: 185px !important;
}

img[src*='images/star.png'] {
  background: url('particle_images/Bookmark.png') no-repeat !important;
  opacity: 1.0 !important;
}

.cdm.expandable .cdmHeader div[style*="vertical-align : middle"] > .dijitCheckBox { display: none !important; }

img[src*='images/mark_unset.png'] {
  opacity: 0 !important;
  margin-left: -24px !important;
}

img[src*='images/mark_set.png'] {
  background: url('particle_images/Bookmark.png') no-repeat !important;
  -ms-transform: scale(0.8, 0.8);      /* IE 9 */
  -webkit-transform: scale(0.8, 0.8); /* Safari */
  transform: scale(0.8.0.8) !important;
  opacity: .8 !important;
  margin-left: -24px !important;
}

img[src*='images/pub_set.png'] {
  display: none !important;
}

img[src*='images/pub_unset.png'] {
  display: none !important;
}

.cdmHeader .hlFeed { margin-left: -10px !important; }

.cdm.expandable.Selected .cdmHeader .hlFeed { margin-left: -46px !important; }

span.updated { display: none !important; }

.scoreWrap { display: none !important; }

.cdm.expandable:not(.active) .cdmHeader > .hlFeed { width: 95px !important; }

.cdm.expandable:not(.active) .cdmHeader > .hlFeed a { max-width: 75px !important; }

/* #feeds-holder .counterNode { */
/*   font-size: 10px !important; */
/*   border-radius: 10px !important; */
/*   padding: 0 5px 0 5px; */
/*   /* margin: 2px 13px !important; */ */
/* } */

/* my mods ******************************************************************/
/* div#content-insert { */
/*   /* padding-right: 264px !important; */ */
/*   /* max-width: 1038px !important; */ */
/*   padding-right: 292px !important; */
/*   max-width: 998px !important; */
/* } */
/*  */
/* #toolbar { */
/*   /* max-width: 1185px !important; */ */
/*   max-width: 1048px !important; */
/* } */
/*  */
/* #headlines-frame { */
/*   /* max-width: 1115px !important; */ */
/*   max-width: 978px !important; */
/* } */
/*  */
/* #headlines-toolbar { */
/*   /* max-width: 1115px !important; */ */
/*   max-width: 978px !important; */
/* } */
