@import url("particle_fork.css");

/* netbook layout */

/* STYLING ******************************************************************/

#feeds-holder .dijitTreeRow {
  font-size: 12px !important;
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}

#feeds-holder #feedTree {
  /* padding-top: 35px !important; */
  padding-top: 0 !important;
  margin-top: 0 !important;
  width: 200px !important;
}

#feeds-holder {
  margin-left: -20px !important;
  width: 200px !important;
}

/* #feeds-holder .counterNode { */
/*   font-size: 10px !important; */
/*   border-radius: 10px !important; */
/*   padding: 0 5px 0 5px; */
/*   /* margin: 2px 13px !important; */ */
/* } */

/* my mods ******************************************************************/
/* div#content-insert { */
/*   /* padding-right: 264px !important; */ */
/*   /* max-width: 1038px !important; */ */
/*   padding-right: 292px !important; */
/*   max-width: 998px !important; */
/* } */
/*  */
/* #toolbar { */
/*   /* max-width: 1185px !important; */ */
/*   max-width: 1048px !important; */
/* } */
/*  */
/* #headlines-frame { */
/*   /* max-width: 1115px !important; */ */
/*   max-width: 978px !important; */
/* } */
/*  */
/* #headlines-toolbar { */
/*   /* max-width: 1115px !important; */ */
/*   max-width: 978px !important; */
/* } */
