@import url("particle_fork.css");

/* standard icon header layout */

/* STYLING ******************************************************************/

/* right align logo */
#main:after{ margin-left: 100px !important; }

#feeds-holder .dijitTreeRow {
  font-size: 12px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

#feeds-holder #feedTree {
  padding-top: 0 !important;
  width: 215px !important;
}

#feeds-holder {
  margin-left: -15px !important;
  width: 215px !important;
}

#feeds-holder .dijitTreeRow:hover .dijitTreeExpando { padding-left: 14px !important; }
