/*

shadows and light skin for tt-rss feedly theme

paste this stylesheet into tt-rss preferences "theme:" "customize"
select "theme:" "feedly-sepia.css"
set "combined mode:"

optimized for "Jost*" and "Roboto" fonts

*/

/* default background and fonts */
.ttrss_index ::-webkit-scrollbar { width: 0; }

.ttrss_index .dijitSplitter { background-color: #fdf7e7 !important; }

.ttrss_index { font-family: Roboto,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important; }

.ttrss_index .dijitTreeContainer { background-color: #fdf7e7 !important; }

/* feed tree */
.ttrss_index #feeds-holder { width: 150px !important; }

.ttrss_index #feedTree { font-family: Roboto,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important; font-size: 12px !important; }

.ttrss_index #feedTree i.material-icons { display: none; }

.ttrss_index span.feed-icon { display: none; }

.ttrss_index img.loadingNode { display: none; }

.ttrss_index .dijitTreeExpandoLeaf { display: none !important; }

/* drop published and archived filters */
.ttrss_index div#dijit__TreeNode_5 { display: none !important; }

.ttrss_index div#dijit__TreeNode_6 { display: none !important; }

/* feed category */
.ttrss_index .dijitTreeRow { margin: 0 0 2px 15px; padding: 6px 0 5px 0 !important; border-color: transparent !important; border-style: solid !important; border-width: 0 0 1px !important; }

.ttrss_index .dijitTreeRowHover { background-color: rgba(177,37,37,.04) !important; }

.ttrss_index .dijitTreeExpando { margin-left: 0 !important; opacity: 0 !important; margin-bottom: -1px !important; }

.ttrss_index .dijitTreeRow .dijitTreeExpandoOpened { animation: blink 1.66s infinite;  }

@keyframes blink {  0% { opacity: 1.0; } 50% { opacity: 0.0; } 100% { opacity: 1.0; } }

.ttrss_index .dijitTreeRow:hover .dijitTreeExpando { opacity: 1 !important; animation: none; }

.ttrss_index #dijit__TreeNode_1 .dijitTreeRow .dijitTreeExpandoOpened { opacity: 0 !important; animation: none; }

.ttrss_index #dijit__TreeNode_1 .dijitTreeRow:hover .dijitTreeExpando { opacity: 1 !important; }

.ttrss_index span.dijitTreeLabel { float: right; font-weight: 400 !important; margin: 0 6px 0 0 !important; }

.ttrss_index span.counterNode { color: rgba(177,37,37,.6) !important; font-size: 11px !important; padding-left: 10px; margin-right: 5px !important; margin-top: 4px !important; min-width: 5px !important; border: none !important; vertical-align: bottom !important; }

.ttrss_index .dijitTreeRowSelected span.counterNode { font-weight: 500 !important; color: #b12525 !important; }

.ttrss_index .dijitTreeRowSelected { background-color: transparent !important; margin: 0 0 7px 15px; padding: 6px 0 0 !important; border-color: rgba(177,37,37,.45) !important; border-style: solid !important; border-width: 0 0 1px !important; box-shadow: none !important; }

.ttrss_index .dijitTreeRowSelected:hover { margin: 0 0 2px 15px; padding: 6px 0 5px 0 !important; border-color: transparent !important; background-color: rgba(177,37,37,.04) !important; }

.ttrss_index .dijitTreeRowSelected span.dijitTreeLabel { font-weight: 600 !important; color: rgba(177,37,37,.85); }

.ttrss_index .dijitTreeRowSelected:hover span.dijitTreeLabel { font-weight: 600 !important; color: rgba(177,37,37,.85) !important; }

/* toolbar */
.ttrss_index .dijitToolbar { border: none !important; }

.ttrss_index .dijitToolbar span.left { padding-top: 1px !important; }

.ttrss_index .dijitToolbar span.left a { font-size: 16px !important; }

.ttrss_index i.icon-syndicate.material-icons { padding-left: 3px !important; padding-top: 2px !important; margin-right: 4px !important; font-size: 16px !important; color: rgba(177,37,37,.85) !important; line-height: 100% !important; height: 16px !important; vertical-align: bottom !important; display: block !important; }

.ttrss_index span#feed_title { color: #b12525 !important; font-size: 16px !important; font-weight: 500 !important; }

.ttrss_index span#feed_title a { vertical-align: initial !important; }

.ttrss_index span#feed_title #cancel_search a { font-size: 12px !important; }

.ttrss_index span#feed_current_unread { color: rgba(177,37,37,.65) !important; font-size: 12px !important; font-weight: 500 !important; background-color: transparent !important; border-color: transparent !important; padding-top: 2px; margin-left: 16px !important;  }

.ttrss_index span.right #selected_prompt { display: none; }

.ttrss_index .dijitDownArrowButton { text-align: right !important; }

.ttrss_index .dijitReset.dijitStretch.dijitButtonNode { padding-right: 0 !important; }

.ttrss_index .dijitReset.dijitStretch.dijitButtonNode * { padding: 0 0 1px 4px !important; }

.ttrss_index .action-button { margin-right: -7px !important; margin-top: -3px !important; }

/* feed list */
.ttrss_index .header:hover { background-color: rgba(177,37,37,.04) !important; }

.ttrss_index .cdm.active .header:hover { background-color: transparent !important; }

.ttrss_index #headlines-frame { padding-top: 0 !important; padding-left: 6px !important; padding-right: 28px !important; }

.ttrss_index .cdm { border: none !important; }

.ttrss_index img.icon { display: none !important; }

.ttrss_index i.icon-no-feed.material-icons { display: none !important; }

.ttrss_index #headlines-spacer { display: none; }

/* feed source / time */
.ttrss_index .feed { max-width: 90px !important; margin-left: 20px !important; padding-bottom: 2px !important; }

.ttrss_index .feed a { background-color: transparent !important; padding-left: 2px !important; font-size: 11px !important; border-color: transparent !important; }

.ttrss_index span.updated { font-size: 10px !important; margin-right: 6px !important; color: rgba(0,0,0,.35) !important; }

.ttrss_index .active span.updated { color: rgba(0,0,0,.7) !important; }

/* separate titlewrap segments into individual (2) overflow lines */
.ttrss_index .titleWrap { white-space: normal !important; }

/* headline summary */
.ttrss_index a.title { font-family: Roboto,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important; font-size: 14.5px !important; font-weight: 500 !important; }

.ttrss_index .Unread a.title { color: rgba(0,0,0,.85) !important; }

.ttrss_index .cdm.expandable:not(.active) span.author { display: none !important; }

.ttrss_index span.excerpt { font-family: "Jost*",Roboto,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important; font-size: 13px !important; }

.ttrss_index .cdm.Unread span.excerpt { color: rgba(0,0,0,.65) !important; }

/* expanded content */
.ttrss_index .active { margin-bottom: 0 !important; }

.ttrss_index .collapse .material-icons { transition: : all 0s !important; -webkit-transition: all 0s !important; font-size: 16px !important; border-color: rgba(177,37,37,.45) !important; border-style: solid !important; border-width: 1px 0 0 !important; padding-right: 6px !important; }

.ttrss_index .collapse:hover .material-icons { background-color: rgba(177,37,37,.04) !important; border-color: transparent !important; color: rgba(0,0,0,.7) !important; }

.ttrss_index .collapse:hover:active .material-icons { background-color: transparent !important; }

.ttrss_index #floatingTitle { border-color: rgba(177,37,37,.45) !important; border-width: 0 0 1px !important; margin-left: 36px !important; padding-bottom: 5px !important; }

.ttrss_index #floatingTitle .right { display: none !important; }

.ttrss_index #floatingTitle .material-icons { display: none !important; }

.ttrss_index #floatingTitle .titleWrap { padding-left: 0 !important; }

.ttrss_index #floatingTitle span.updated { display: none !important; }

.ttrss_index .active .title { font-size: 20px !important; }

.ttrss_index .content-inner { font-family: Roboto,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important; font-size: 13px !important; }

.ttrss_index .content-inner * { font-family: Roboto,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important; font-size: 13px !important; border: none !important; }

.ttrss_index .content-inner p { font-family: "Jost*",Roboto,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important; font-size: 14.5px !important; color: rgba(0,0,0,.8) !important; }

.ttrss_index .content-inner td { font-family: Roboto,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important; font-size: 13px !important; border-color: transparent !important; }

/* expanded footer */
.ttrss_index span.dijitButtonNode { font-family: Roboto,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important; font-size: 12px !important; padding: 0 !important; background-color: transparent !important; border-color: transparent !important; color: rgba(0,0,0,.45) !important; }

.ttrss_index .active .expand-prompt span.dijitButtonText { border-top-width: 1px !important; border-top-style: solid !important; border-color: rgba(177,37,37,.45) !important; padding: 3px 12px 0 !important; }

.ttrss_index .footer .left { font-family: Roboto,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important; font-size: 13px !important; }

/* popup filter icons */
.ttrss_index .material-icons.icon-score { display: none !important; }

.ttrss_index .pub-pic.material-icons { display: none !important; }

.ttrss_index .dijitCheckBox { display: none !important; }

.ttrss_index .header .left * { transform: scale(.7,.7); -ms-transform: scale(.7,.7); -webkit-transform: scale(.7,.7); }

/* starred articles */
.ttrss_index .header .left { padding-left: 0 !important; padding-right: 0 !important; position: absolute !important; left: -2px; }

.ttrss_index .active .left { top: 25px; left: 24px; }

.ttrss_index .cdm.marked { background-color: transparent !important; }

.ttrss_index .cdm.marked .marked-pic { color: rgba(177,37,37,.85) !important; }

.ttrss_index .cdm.marked:not(.Unread):not(.active) a.title { color: rgba(177,37,37,.9) !important; }

/* toolbar menus */
.ttrss_index .dijitMenu { background-color: #fdf7e7 !important; border: none !important; }

.ttrss_index .dijitMenu .dijitMenuArrowCell { display: none !important; }

.ttrss_index .dijitPopup { border-radius: 0; border: none; box-shadow: 3px 3px 9px rgba(0,0,0,.3); }

.ttrss_index .dijitMenuItemLabel { font: 400 12px Roboto,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important; text-align: right; }

.ttrss_index .dijitMenuItemDisabled .dijitMenuItemLabel { background-color: transparent !important; }

.ttrss_index .dijitMenuItemDisabled .dijitMenuItemLabel:hover { background-color: #fdf7e7 !important; color: rgb(46,153,209) !important; }
