
/*
shadows and light skin for tt-rss feedly theme
*/

::-webkit-scrollbar { width: 0; }

.dijitSplitter { background-color: #fdf7e7 !important; }

.ttrss_main { font-family: Roboto,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important; }

.dijitTreeContainer { background-color: #fdf7e7 !important; }

#feeds-holder { width: 150px !important; }

#feedTree { font-family: Roboto,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important; font-size: 12px !important; }

#feedTree i.material-icons { display: none; }

span.feed-icon { display: none; }

img.loadingNode { display: none; }

.dijitTreeExpandoLeaf { display: none !important; }

/* drop published and archived filters */
div#dijit__TreeNode_5 { display: none !important; }

div#dijit__TreeNode_6 { display: none !important; }

.dijitTreeRow { margin: 0 0 1px 15px; padding: 6px 0 6px 0 !important; border-color: transparent !important; border-style: solid !important; border-width: 0 0 1px !important; }
/*
.dijitTreeRow:hover { background-color: transparent !important; }
*/
.dijitTreeExpando { margin-left: -2px !important; opacity: 0 !important; }

.dijitTreeRow:hover .dijitTreeExpando { opacity: 1 !important; }

.ttrss_index span.dijitTreeLabel { float: right; font-weight: 400 !important; margin: 0 6px 0 0 !important; }
/*
.dijitTreeRow:hover span.dijitTreeLabel { color: #000000 !important; }
*/
span.counterNode { color: #b12525 !important; font-size: 12px !important; padding-left: 10px; margin-right: 5px !important; min-width: 5px !important; }

.dijitTreeRowSelected span.counterNode { font-weight: 500 !important; color: #b12525; }

.dijitTreeRowSelected { border-color: #b12525 !important; background-color: transparent !important; margin: 0 0 7px 15px; padding: 6px 0 0 !important; border-style: solid !important; border-width: 0 0 1px !important; }

.dijitTreeRowSelected:hover { margin: 0 0 1px 15px; padding: 6px 0 6px 0 !important; border-color: transparent !important; background-color: rgba(0,0,0,.04) !important; }

.dijitTreeRowSelected span.dijitTreeLabel { font-weight: 500 !important; color: #b12525; }

.dijitTreeRowSelected:hover span.dijitTreeLabel { font-weight: 500 !important; color: #b12525 !important; }

.dijitToolbar { border: none !important; }

i.icon-syndicate.material-icons { padding-left: 3px !important; color: #b12525 !important; }

span#feed_title { color: #b12525 !important; font-size: 15px !important; font-weight: 500 !important; }

.dijitDownArrowButton { text-align: right !important; }

.dijitReset.dijitStretch.dijitButtonNode { padding-right: 0 !important; }

.dijitReset.dijitStretch.dijitButtonNode * { padding-right: 0 !important; }

.action-button { margin-right: -4px !important; }

#headlines-frame { padding-top: 0 !important; }

.cdm { border: none !important; }

img.icon { display: none !important; }

i.icon-no-feed.material-icons { display: none !important; }

.feed { max-width: 90px !important; }

.feed a { background-color: transparent !important; padding-left: 2px !important; font-size: 11px !important; border-color: transparent !important; }

a.title { font-family: Roboto,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important; font-size: 14.5px !important; font-weight: 500 !important; }

.Unread a.title { color: rgba(0,0,0,0.85) !important; }

.cdm.expandable:not(.active) span.author { display: none !important; }

span.excerpt { color: rgba(0,0,0,0.45) !important; font-family: "Jost*",Roboto,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important; font-size: 13px !important; }

.Unread span.excerpt { color: rgba(0,0,0,0.75) !important; }

span.updated { font-size: 10px !important; }

.active .title { font-size: 20px !important; }

.content-inner { font-family: Roboto,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important; font-size: 13px !important; }

.content-inner * { font-family: Roboto,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important; font-size: 13px !important; }

.content-inner p { font-family: "Jost*",Roboto,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important; font-size: 14.5px !important; color: rgba(0,0,0,0.80) !important; }

.content-inner td { font-family: Roboto,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important; font-size: 13px !important; border-color: transparent !important; }

span.dijitButtonNode { font-family: Roboto,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important; font-size: 12px !important; padding: 0 !important; background-color: transparent !important; border-color: transparent !important; color: rgba(0,0,0,0.45) !important; }

.footer .left { font-family: Roboto,"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important; font-size: 13px !important; }

.material-icons.icon-score { display: none !important; }

.pub-pic.material-icons { display: none !important; }

.dijitCheckBox { display: none !important; }

.header .left * { transform: scale(0.75.0.75); -ms-transform: scale(0.75, 0.75); -webkit-transform: scale(0.75, 0.75); }

.header .left { padding-left: 0 !important; padding-right: 0 !important; }

:not(.active) .left { margin-bottom: 2px; }

.collapse .material-icons { transition: : all 0s !important; -webkit-transition: all 0s !important; }
