[Global]
ShowFrame=false
Rows=1

[Applications]
dropbox=false
networkmanager applet=false
pino=false
volumeicon=false
xfce4-power-manager=false
gtrayicon=false
vlc=false
opera=false
gnome-mplayer=false

